body{
	height: 60px;
	
	margin: 0;
}
h1{
	font-size: 32px;

	font-family: "微软雅黑";
	text-align: center;
	letter-spacing: 0.8px;
}
div.menu{
	clear: none;
	float: right;
	width: 300px;
	height: 30px;
	font-family: "微软雅黑";
}
a.cancel{
	
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	text-decoration: none;
	
	padding:8px;
	margin-right: 10px;
}
a.backHome{

	border-top-left-radius:20px; 
	border-bottom-right-radius: 20px;
	text-decoration: none;
	padding: 8px;
	
}